@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /* overflow: hidden; */
}

:root {
    --bg-color: #119ea3;
    --second-bg-color: #38bcc1;
    --text-color: #fff;
    --main-color: rgba(104, 19, 215, 0.675);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background: var(--bg-color);
    align-items: center;
    z-index: 100;
    display: flex;
    padding: 2rem 9%;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2)
}

.logo {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    width: 35vw;
    border-radius: 45%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    background: var(--main-color);
    border-radius: 4rem;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 600;
    letter-spacing: .1rem;
    transition-duration: 0.2s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:before {
    content: "»";
    opacity: 0;
    padding-right: 5px;
    margin-left: -15px;
    transition-duration: 0.2s;
}

.btn:hover:before {
    margin-left: 0px;
    opacity: 1;
}

.btn:hover {
    color: var(--second-bg-color);
    background: var(--main-color);
    border: solid 1px var(--second-bg-color);
}



.btn1 {
    border: none;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 40px;
    border: solid 1px rgba(0, 107, 179, 0.2);
    transition-duration: 0.2s;
    font-size: 16px;
    color: var(--bg-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
        ;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
        ;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
        ;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
        ;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
        ;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}


/*----------------------about-------------------*/

.about {
    display: flex;
    justify-content: space-between;
    background: var(--second-bg-color);
    flex-wrap: wrap;
}


.about_content {
    /* flex-basis: 60%; */
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.about_des {
    text-align: justify;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.about_content h2 {
    text-align: left;
    line-height: 1.2;
}

.about_content p {
    font-size: 1.6rem;
    /* margin: 2rem 0 3rem; */
    margin-top: 2rem;
}

.tab_titles {
    display: flex;
    margin: 5rem 0 4.8rem;
    justify-content: left;
}

.tab_links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab_links.active_link::after {
    width: 50%;
}


.skills-col-1 {
    flex-basis: 35%;
}

.skills-col-2 {
    flex-basis: 60%;
}

.body {
    padding: 20px;
    background: var(--bg-color);
    border-radius: 20px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-name {
    width: 120px;
    font-size: 16px;
    color: var(--text-color);
}

.skill-level {
    width: 470px;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.skill-percent {
    background-color: #333;
    height: 100%;
}

.skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
    color: var(--text-color);
}



.tab_contents ul li {
    list-style: outside;
    margin: 3rem 0;
    font-size: 1.5rem;
}

.tab_contents ul li span {
    color: var(--main-color);
    font-size: 2rem;
}

/* .tab_contents ol li {
    list-style:outside;
    margin: 10px 0;
} */

.tab_contents {
    display: none;
}

.tab_contents.active_tab {
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-------------------------*PROJECTS*--------------------------------*/
/* .projects {
    padding: 50px 0;
} */


.projects h2 {
    margin-bottom: 5rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.project_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);

    height: 300px;
    width: 370px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 0.1s;
    display: none;
}

.project:nth-child(1),
.project:nth-child(2),
.project:nth-child(3) {
    display: inline-block;
}

/* .project h3{
    font-size: 2.6rem;
} */

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(72, 77, 77, 0.826), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    font-size: 1.4rem;
    transition: .5s ease;
    transform: translateY(100%);
}

.layer h3 {
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
}

.layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
    transform: translateY(0);
}


#button-7 {
    position: relative;
    margin: 50px auto;
    width: fit-content;
    padding: 10px 25px;
    background: var(--main-color);
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 5px var(--main-color);
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    color: var(--bg-color);
    overflow: hidden;
    cursor: pointer;
}

#button-7:hover {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}


/*------------contact----------*/

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact_left {
    margin-top: 0px;
    flex-basis: 35%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.contact_right {
    flex-basis: 60%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.contact_left p {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.contact_left p i {
    color: var(--main-color);
    margin-right: 1.5rem;
    font-size: 2.5rem;
}

.social_icons {
    margin-top: 3rem;
}

.social_icons a {
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    color: var(--text-color);
    display: inline-block;
    transition: transform 0.5s;
}

.social_icons a:hover {
    color: var(--main-color);
    transform: translateY(-5px);
}

.address {
    padding-bottom: 5rem;
}

.btn1.btn2 {
    display: inline-block;
    background: var(--main-color);
}

.contact_right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #b4b4b4;
    padding: 1.5rem;
    margin: 1.5rem 0;
    color: var(--text-color);
    font-size: 1.8rem;
    border-radius: .6rem;
}

form .btn2 {
    padding: 1rem 5rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    cursor: pointer;
}

.copyright {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    
}

.copyright p{
    font-size: 1.6rem;
    font-weight: 300;
}

/* css for small screen */



@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 10rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .skills-col-2{
        width: 70vw;
        margin-top: 4rem;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .project_list{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px){
    .project_list{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact{
        flex-direction: column;
    }

    .contact_left,
    .contact_right {
        flex-basis: 100%;
    }

    /* .contact form .in */
}

@media (max-width: 450px){
    .home-img img{
        width: 90vw;
    }

    .skills-col-2{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .contact_left,
    .contact_right {
        flex-basis: 100%;
    }
}
